.mybackground {
  background-image: url("https://st2.depositphotos.com/1035649/7783/v/950/depositphotos_77833254-stock-illustration-restaurant-logo.jpg");
  background-position: center center;
  background-size: 100% 100%;
}
.mytopnav {
  background-image: url("https://st2.depositphotos.com/1035649/7783/v/950/depositphotos_77833254-stock-illustration-restaurant-logo.jpg");
}
.mytopnav a {
  float: left;
  color: #320875;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 19px;
}
.mytopnav a:hover {
  background-color: #320875;
  color: gold;
}

/* Add a color to the active/current link */
.mytopnav a.active {
  background-color: gold;
  color: #320875;
}
.myname {
  text-align: left;
  padding: 20px;
  font-weight: bolder;
  color: #320875;
  font-style: oblique;
  font-size: x-large;
}
.mytag {
  text-align: center;
  font-style: italic;
  font-weight: lighter;
  color: gold;
}
img {
  float: right;
}
.mymenu {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/512/802/415/tape-holiday-christmas-happy-new-year-wallpaper-preview.jpg");
  scroll-padding-bottom: 100px;
  color: red;
  width: 100%;
  font-style: italic;
  font-style: oblique;
  border: solid gold;
  font-size: large;
  margin-right: 40px;
  margin-bottom: 30px;
}

.card {
  border: dotted #320875;
  margin: 10px;
  box-sizing: 50%;
}
.card-title {
  font-size: large;
  color: #320875;
  font-style: italic;
  font-weight: bold;
}
.mylink {
  color: gold;
  margin-bottom: 20px;
}
.wines {
  background-color: #320875;
  color: gold;
  font-style: italic;
}
